body,p,span{
    font-family: 'Roboto', sans-serif;
} 
h1,h2,h3,h4,h5,h6,a{
    font-family: 'Rubik', sans-serif;
}
/* Custom Style */
.main-header .container-fluid,
.silder-section .container-fluid
{
    max-width: 2560px;
}
body .btn-primary{
    background: #e73c3e !important;
    border-color: #e73c3e;
    padding: 10px 40px;
    font-size: 15px;
    position: relative;
    z-index: 1;
}
body .btn-primary::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #111;
    border-color: #111;
    z-index: -1;
    transition: 0.4s;
}
body .btn-primary:hover{
    border-color: #111;
}
body .btn-primary:hover::after{
    width: 100%;
}
img{
    max-width: 100%;
}
.bga-primary{
    background: #F9FAFB;
}
/* Menu CSS */
ul.our-primary-menu{}
ul.our-primary-menu li{}
ul.our-primary-menu li a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    color: #111;
    font-weight: 500;
}
ul.our-primary-menu li a:hover{}

/* Dropdown Menu */
ul.our-primary-menu li{
    position: relative;
}
ul.our-primary-menu li ul{
    position: absolute;
    width: 150px;
    left: 0;
    top: 160%;
    background: #fafafa;
    list-style: none;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
    border-radius: 10px;
    
}

ul.our-primary-menu li ul li{
    flex-direction: column;
}
ul.our-primary-menu li:hover ul{
    opacity: 1;
    visibility: visible;
    top:100%;
}
ul.our-primary-menu li ul li a{
}

.header-info{}
.header-search {
	width: 40px;
	font-size: 23px;
	text-align: center;
	margin-right: 25px;
	border-right: 1px solid #ddd;
}
.header-call{
    width: 160px;
}
.header-call-icon {
	font-size: 30px;
	color: #e73c3e;
}
.header-call-info span{
    color: #606060;
} 
.header-call-info a {
	text-decoration: none;
	color: #111;
	font-weight: 500;
	font-size: 13px;
}
.header-button{}

/* Slider Section CSS */
.silder-section{
    background: url(img/main-banner2.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
.slider-content h6{
    color: #e73c3e;
    font-weight: 300;
    font-size: 18px;
}
.slider-content h1{
    font-size: 65px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.slider-content p{
    color: #606060;
    font-size: 20px;
}
.slider-content-wrap{
    height: 90vh;
    position: relative;
}
.header-social{
    position: absolute;
    bottom: 0;
    left: 0;
}
.header-social ul{
    list-style: none;
    padding-left: 0;
}
.header-social ul li {}
.header-social ul li span{
    font-size: 18px;
    display: inline-block;
    margin-right: 50px;
    position: relative;

}
.header-social ul li span::after {
	content: "";
	height: 1px;
	background: #111;
	width: 40px;
	position: absolute;
	right: -47px;
	top: 54%;
}

.header-social ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 0 10px;
    color: black;
    font-size: 18px;
}

/* Client Logo Section CSS */
.client-logo{}
.client-logo ul{
    list-style: none;
    padding-left: 0;
}
.logo-section{
    border-bottom: 1px solid #ddd;
}

/* About Section CSS */
.about-image{
    position: relative;
}
.about-img-text {
	position: absolute;
	right: 0;
	bottom: 0;
	background: url(img/shape.png) no-repeat center;
	height: 200px;
	width: 200px;
	background-size: contain;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.about-img-text h2 {
	color: #e73c3e;
	font-size: 60px;
}
.about-img-text p {
	font-size: 17px;
	font-weight: 500;
}

.about-text{}
.finix-text{}
.finix-text h6{
    color: #e73c3e;
    font-weight: 400;
}
.finix-text h2 {
	font-size: 32px;
	font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}
.finix-text p {
	font-size: 15px;
	color: #606060;
}
.finix-text strong {
	color: #606060;
	font-size: 18px;
	font-weight: 400;

}
.finix-text .why {
	font-weight: 500;
	font-size: 34px;
}
.finix-text .why-you {
	font-weight: 500;
	font-size: 38px;
}
.finix-text .how {
	font-weight: 500;
	font-size: 30px;
}
.finix-text .Calculate {
	font-weight: 400;
    color: #606060 !important;
	
}
.finix-text .lorem {
	font-size: 16px;
    line-height: 200%;
}
.finix-text ul{
    list-style: none;
    padding-left: 0;
    color: #606060;
    margin-top: 20px;
}
.finix-text ul li{
    padding: 5px 0;
}
.finix-text ul li::before{
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    color: #e73c3e;
    padding-right: 10px;
    display: inline-block;
}

/* Why people choose us */
.feature-item{
    background: #fff;
    padding: 30px;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.7s;
}
.feature-item:hover{
    transform: translateY(-13px);
}
.feature-item::before {
	content: "";
	position: absolute;
	top: -139px;
	right: 12px;
	margin: auto;
	width: 90%;
	height: 65%;
	background: #fdebeb;
	border-radius: 50%;
}
.feature-item .ft-icon{
    position: relative;
    z-index: 1;
}
.feature-item .ft-icon i {
	color: #e73c3e;
	font-size: 55px;
	height: 90px;
	width: 90px;
	line-height: 90px;
	background: #fff;
	border-radius: 50%;
    transition: 0.7s;
}
.feature-item:hover .ft-icon i{
    color: #fff;
    background: #e73c3e;
}
.mergin-top{
    margin-top: 0px;
}
.ft-icon{}
.ft-icon h3{}
.ft-icon p{}

.finix-text{
    position: relative;
}
.play-animation-btn {
	width: 90px;
	height: 90px;
	display: inline-block;
	background: #fff;
	font-size: 60px;
	text-align: center;
	line-height: 90px;
	color: #e73c3e;
	border-radius: 50%;
	position: absolute;
	right: 182px;
	bottom: 49px;
}
.play-animation-btn::before{
    content: "";
    width: 90px;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    background: #e73c3e;
    border-radius: 50%;
    animation: playbtn 1.2s ease-out infinite;
}
@keyframes playbtn{
    0%{
        transform: scale(0);
        opacity: 1;
    }
    50%{
        transform: scale(1.5);
        opacity: 0.7;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}

/* You deserve a better business loan */

.apply-now-section{}
.apply-now-left-text{}
.step-timeline{}
.step-timeline ul{
    list-style: none;
    position: relative;
    padding-left: 65px;
}
.step-timeline ul::before {
	content: "";
	position: absolute;
	left: 12px;
	top: 10px;
	width: 1px;
	background: #e73a3e;
	height: calc(100% - 100px);
}
.step-timeline ul li {
	margin-bottom: 25px;
    position: relative;
}
.step-timeline ul li::before {
	content: attr(data-counter);
	position: absolute;
	left: -78px;
	top: -4px;
	height: 50px;
	width: 50px;
	background: #f9fafb;
	border: 1px solid #e73a3e;
	border-radius: 50%;
	line-height: 50px;
	text-align: center;
}
.step-timeline ul li strong {
	font-size: 25px;
	display: block;
	margin-bottom: 10px;
}
.step-timeline ul li p{
    color: #606060;
}

.calculate-rate{
    background: #fdebeb;
    padding: 50px;
    border-radius: 15px;
}
.calculate-form .form-group {
	margin-bottom: 20px;
}
.calculate-form .form-group input {
	border: none;
	border-radius: 10px;
	padding: 14px 15px;
}
.calculate-form .form-group select{
    border: none;
	border-radius: 10px;
	height: 53px;
}
.calculate-form .form-group label {
	display: block;
	margin-bottom: 10px;
}
